@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
}

body {
  background-image: linear-gradient(
    90deg,
    #ccc9e7ff 0%,
    #aeb8d9 35%,
    #1d84b5 100%
  );
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #8066588f;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #1d84b5;
  text-align: center;
  text-shadow: 1px 1px 2px #114c68b9;
}

h2 {
  color: #84a98c;
}

p {
  text-align: justify;
  color: #3a3e3b;
}
